<?xml version="1.0" encoding="utf-8"?>
<configuration>
  　　<configSections>
    　　<section name="autofac" type="Autofac.Configuration.SectionHandler, Autofac.Configuration"/>
    　　
  </configSections>
  　　<autofac defaultAssembly="ConsoleApplication3">
    　　<components>
      　　<component type="ConsoleApplication3.Worker, ConsoleApplication3" service="ConsoleApplication3.IPerson"/>
      　　
    </components>
    　　
  </autofac>
  　　
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
